<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<connectionStrings>
		<add name = "ConnectionStringDatabaseStudentRating" connectionString = "Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\adush\source\repos\StudentRating\DatabaseStudentRating.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>